<h1>Band Tracker</h1>
  <br><br>

  <div class="row">
    <div class='col-sm-6 col-md-6'>
      <div class="thumbnail">
        <img src='https://ununsplash.imgix.net/46/dpzDUkJrTHb71Yla1EzF_IMG_4098.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050' alt='singer'>
        <div class='caption'>
          <h3>Search by Band</h3>
          <p>
            <a href='/bands' class='btn btn-primary' role='button'>Rock Out</a>
          </p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-6'>
      <div class="thumbnail">
        <img src='https://ununsplash.imgix.net/17/unsplash_5252bb51404f8_1.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050' alt='venue'>
        <div class='caption'>
          <h3>Search by Venue</h3>
          <p>
            <a href='/venues' class='btn btn-primary' role='button'>Rock On</a>
          </p>
        </div>
      </div>
    </div>
  </div>
