<h1>Band Tracker</h1>
  <br><br>

  <div class="row">
    <div class='col-sm-6 col-md-4'>
      <div class="thumbnail">
        <img src='http://mediaassets.commercialappeal.com/photo/2014/09/12/g_dine4_7972638_ver1.0_640_480.jpg' alt='eggplant'>
        <div class='caption'>
          <h3>Search by Band</h3>
          <p>
            <a href='/bands' class='btn btn-primary' role='button'>Rock Out</a>
          </p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class="thumbnail">
        <img src='http://www.eastbayexpress.com/binary/323d/food.jpg' alt='entree'>
        <div class='caption'>
          <h3>Search by Venue</h3>
          <p>
            <a href='/venues' class='btn btn-primary' role='button'>Rock On</a>
          </p>
        </div>
      </div>
    </div>
  </div>
