<!DOCTYPE html>
<html>
  <head>
    <title>bandtracker</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class='jumbotron'>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
        <ul class='nav navbar-nav'>
          <li><a href='/'>Home</a></li>
          <li><a href='/bands'>Bands</a></li>
          <li><a href='/venues'>Venues</a></li>
        </ul>
      </div>
    </nav>
    <div class='container'>
    <%= yield %>
    </div>

  </div>
  </body>
</html>
